body {
  background-color: #F9FBFF;
  overflow-x: hidden;
}

.mont-l {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
}

.mont-m {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
}

.title {
  font-family: "Nunito", sans-serif;
  font-weight: Bold;
  font-size: 24px;
  line-height: 28px;
}

.sub-t {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.price-t {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #C7A17A;
}

.body-t {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.desc {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.butt {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.product__link>* {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #415167;
  transition: all .3s;
}

.product__link> :first-child {
  background-color: #C7A17A;
  padding: 7px 16px;
  color: #fff;
  border-radius: 19px;
}

.product__link > :first-child:hover {
  background-color: #F9F5E8;
  color: #415167;
  transition: all .3s;
}
.product__link > :last-child:hover {
  color: #C7A17A;
  transition:  all .3s;
}


/*  */

.wrapper {
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #232C38;
}

/* Header */

.header {
  color: #fff;
  position: relative;
  display: flex;
  height: 768px;
}

.logo {
  position: absolute;
  top: 72px;
  left: 130px;
}

.header>h1 {
  text-transform: uppercase;
  color: #415167;
  max-width: 470px;
  bottom: 0;
  position: absolute;
  left: 145px;
}

.header>h1>span {
  background-color: #C7A17A;
  color: #fff;
  padding: 0 16px;
}

.header-img {
  position: absolute;
  z-index: -1;
  left: 422px;
}

.header__tab {
  display: flex;
  flex-direction: column;
  position: absolute;
  flex-grow: 0;
  width: 328px;
  padding-left: 57px;
  padding-top: 50px;
  height: 100%;
  right: 0;
  background-color: #415167;
}

.cart {
  width: 18px;
  height: 18px;
  position: relative;
  z-index: 1;
}

.header__tab>div {
  position: relative;
  width: 38px;
  margin-bottom: 118px;
}

.header__tab>div::before {
  content: '0';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  background-color: #C7A17A;
  border-radius: 100%;
  top: -14px;
  right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header__tab>ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header__tab>ul> :first-child {
  margin-bottom: 6px;
}

/* Features */

.features {
  color: #415167;
  display: flex;
  align-items: center;
  margin-top: 87px;
  flex-direction: column;
}

.features>.title {
  text-align: center;
  margin-bottom: 72px;
}

.title> :first-child {
  text-transform: capitalize;
  color: #415167;
}

.title> :last-child {
  text-transform: uppercase;
  color: #415167;
}

.features__list {
  color: #232C38;
  display: flex;
  gap: 66px;
}

.features__list>li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features__list>li>img {
  margin-bottom: 41.5px;
}

.features__list>li>p {
  max-width: 226px;
  margin-top: 12px;
}

/* Product */

.coffee {
  display: flex;
  flex-direction: column;
  margin-top: 128px;
  position: relative;
  height: 894px;
}

.coffee>.title {
  width: 100%;
  text-align: center;
  margin-top: 90px;
}

.coffee::before {
  content: '';
  width: 384px;
  height: 894px;
  display: block;
  position: absolute;
  background-color: #415167;
  z-index: -1;
  top: 0;
}


/* Arrow */

.arrow-left {
  height: 48px;
  width: 48px;
  padding: 12px 15.5px;
  background-color: #C7A17A;
  border-radius: 100%;
  position: absolute;
  bottom: 42.3%;
  left: 73px;
  z-index: 1;
  cursor: pointer;
  transition: all .3s;
}



.arrow-right {
  height: 48px;
  width: 48px;
  padding: 12px 15.5px;
  background-color: #C7A17A;
  border-radius: 100%;
  position: absolute;
  bottom: 42.3%;
  right: 100px;
  z-index: 1;
  cursor: pointer;
  transition: all .3s;

}

.none {
  cursor: default;
  opacity: .3;
  transition: all .3s;
}

/*  */

.coffee__list {
  margin-top: 72px;
  height: 544px;
  position: relative;
}

.coffee__list-top {
  display: flex;
  position: absolute;
  top: 0;
  gap: 30px;
}

.coffee__list-bottom {
  display: flex;
  position: absolute;
  bottom: 0;
  gap: 30px;
}

.coffee__list-bottom>li, .coffee__list-top>li {
  display: flex;
  width: 560px;
  background-color: #fff;

}

.coffee__list-top> :nth-child(1) {
  filter: drop-shadow(0px 4px 24px rgba(205, 205, 205, 0.5));
}

.product__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 43px;
  margin-top: 42px;
}

.product__info>label {
  margin-bottom: 8px;
}

.product__info>h4 {
  margin-bottom: 24px;
}

.product__info>.product__link {
  display: flex;
  align-items: center;
  gap: 18px;
  position: absolute;
  bottom: 42px;
}

/* Giftset */

.giftset {
  display: flex;
  flex-direction: column;
  height: 802px;
}

.giftset::before {
  content: '';
  width: 1076px;
  height: 802px;
  position: absolute;
  display: block;
  background-color: #EDF0F5;
  z-index: -1;
}

.giftset>.title {
  width: 100%;
  text-align: center;
  margin-top: 86px;
}

.giftset__content {
  display: flex;
  margin-top: 66px;
  margin-left: 130px;
  width: 1138px;
  height: 463px;
}

.giftset__content>img {
  position: absolute;
}


.giftset__content-info {
  margin-left: 256px;
  padding-left: 299px;
  padding-top: 64px;
  width: 794px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.giftset__content-info>.title {
  margin: 12px 0;
}

.giftset__content-info>.desc {
  width: 430px;
}

.giftset__content-icons {
  display: flex;
  gap: 38px;
  margin-top: 24px;
  margin-bottom: 46px;
}

.icon {
  display: flex;
  gap: 12px;
}

.icon>.desc>span {
  font-size: 16px;
}

.giftset__content-info>.product__link {
  display: flex;
  align-items: center;
  gap: 128px;
}

.giftset__content-info>.product__link> :first-child {
  padding: 7px 32px;
}

.giftset__content-tab {
  height: 460px;
  width: 88px;
  display: flex;
  flex-direction: column;
  color: #415167;
}

.giftset__content-tab>li {
  width: 88px;
  height: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDF0F5;
  border: 1px solid #EDF0F5;
  border-bottom: 1px solid #EDF0F5;
  border-top: 0;
  opacity: .4;
  cursor: pointer;
  transition: all .3s;
}

.giftset__content-tab>li:first-child {
  border-top: 1px solid #EDF0F5;
  background-color: #fff;
  opacity: 1;
}

.giftset__content-tab>li:hover {
  opacity: 1;
  transition: all .3s;
  background-color: #fff;
}

/* Combo */

.combo {
  width: 1530px;
  height: 906px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.combo > .arrow-right {
  right: 200px;
}

.combo>.title {
  width: 100%;
  text-align: center;
  margin-top: 86px;
  margin-left: -80px;
}

.combo__list {
  display: flex;
  margin-left: 128px;
  position: absolute;
  bottom: 128px;
  gap: 30px;
}

.combo__list > li {
  width: 360px;
  height: 562px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.combo__list > li > img {
  margin-bottom: 42px;
}

.combo__info {
  display: flex;
  flex-direction: column;
  margin-left: 42px;
}

.combo__info > .price-t > .desc {
  text-decoration: line-through;
  color: #415167;
  font-style: italic; 
  margin-left: 4px;
}

.combo__info > .title {
  margin-top: 9px;
  margin-bottom: 10px;
}

.combo__info > .desc {
  width: 276px;
  margin-bottom: 32px;
}

.combo__info > .product__link {
  margin-left: -5px;
}

.combo__info > .product__link > :first-child {
  margin-right: 65px;
  padding: 7px 22px;
}

.combo > .right {
  margin-left: -320px;
}

.combo > .left {
  margin-left: 128px;
}

/* Footer */

.footer {
  width: 100%;
  text-align: center;
  background-color: #EDF0F5;
  padding: 18px 0 20px 0;
  font-style: italic;
}

.left {
  margin-left: 130px;
  transition: all .7s;
}

.right {
  margin-left: -720px;
  transition: all .7s;
}
